/* Mixins -------------------- */
/* Base Styles -------------------- */
html {
  scroll-behavior: smooth;
  transition: 0.20s;
  margin-top: 0;
  padding-top: 0; }

body {
  margin: 0;
  padding: 0;
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.26); }

header {
  background-image: linear-gradient(-45deg, rgba(28, 116, 175, 0.15) 50%, rgba(0, 0, 0, 0.08) 50%), url(../images/beach-bench-boardwalk-462024.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 40rem; }

h1.heading {
  margin-top: 0; }

nav {
  width: 100%;
  position: fixed;
  z-index: 1000; }

nav ul {
  list-style-type: none;
  background-color: rgba(0, 0, 0, 0.575);
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  margin-top: 0; }

nav li {
  float: left; }

nav a {
  text-decoration: none;
  font-size: 22px;
  text-align: center;
  display: block;
  padding: 11px 6px;
  padding-right: 45px;
  color: white;
  font-family: 'Jacques Francois', serif; }

nav a:hover {
  color: #f0c330;
  transition: 0.5s;
  text-shadow: 5px 10px 5px rgba(255, 196, 0, 0.404); }

footer p {
  background-color: rgba(174, 175, 184, 0.9);
  color: black;
  padding: 30px;
  font-weight: bolder;
  font-size: 20px;
  margin-top: 0; }

footer {
  position: relative; }

select {
  background-position: right center;
  width: 200px; }

.container {
  width: 100%;
  height: 100%;
  overflow-x: hidden; }

.heading {
  color: #1b1616;
  text-align: center;
  font-size: 68px;
  text-shadow: 5px 5px 10px #00a8e2;
  font-family: 'Poiret One';
  animation: move 2s ease forwards;
  z-index: 500; }

@keyframes move {
  from {
    padding-top: 0%;
    opacity: 0; }
  to {
    padding-top: 25%;
    opacity: 1; } }
.title {
  font-size: 40px;
  margin: 0;
  padding: 0; }

.p-title {
  color: #1b1616;
  font-family: 'EB Garamond', serif;
  font-size: 30px;
  text-align: center;
  font-weight: bold; }

.paragraph2 {
  padding-right: 0px;
  padding-right: 66px;
  margin-left: 40px;
  font-size: 17px; }

.read-more {
  font-size: 15px;
  color: rgba(192, 67, 67, 0.801);
  font-weight: bold; }

.gallery-body {
  background-color: rgba(128, 128, 128, 0.26); }

.heading-1 {
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 30px;
  font-weight: bold;
  color: rgba(106, 121, 127, 0.8); }

.form {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(../images/form-bg.jpg);
  background-size: 100% 100%;
  height: 100vh; }

.contact-form {
  position: absolute;
  top: 1%;
  left: 40%;
  transform: translate(-50, -50%);
  width: 400px;
  padding: 40px;
  box-sizing: border-box;
  border-radius: 10px; }

.contact-form h2 {
  margin: 0;
  padding: 0;
  color: #fff;
  text-align: center; }

.contact-form .input-field {
  position: relative; }

.contact-form .input-field input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent; }

.contact-form .input-field textarea[name="message"] {
  width: 100%;
  border: 1px solid whitesmoke;
  background-color: transparent; }

.contact-form .input-field textarea[placeholder="Write a message..."] {
  padding: 5px;
  color: white; }

.contact-form .input-field label[for="message"] {
  top: -35%; }

.contact-form .input-field select[name="activity"] {
  width: 100%;
  outline: none;
  float: left;
  color: white;
  padding: 0px 0;
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent; }

.contact-form .input-field option {
  color: black; }

.contact-form .input-field label[value="choose"] {
  top: -2rem; }

.contact-form .input-field {
  width: 100%; }

.contact-form .input-field label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s; }

.contact-form .input-field input:focus ~ label,
.contact-form .input-field input:valid ~ label {
  top: -18px;
  left: 0;
  color: #ffffff;
  font-size: 12px; }

.contact-form input[type="submit"] {
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  background: #0000004d;
  padding: 10px 20px;
  cursor: pointer;
  width: auto; }

.contact-form input:hover[type="submit"] {
  background-color: rgba(0, 0, 0, 0.842);
  border-color: #fff;
  border: 1px solid white; }

@font-face {
  font-family: 'Poiret One';
  src: url(../fonts/PoiretOne-Regular.ttf); }
.dropdown {
  display: inline-block;
  top: 0; }

.dropdown-content {
  display: none;
  box-shadow: 2px 2px 5px black;
  min-width: 118px;
  z-index: 1;
  margin-top: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.575); }

.dropdown-content a {
  color: white;
  padding: 15px;
  text-decoration: none;
  display: block; }

.dropdown-content a:hover {
  background-color: white;
  color: black; }

.dropdown:hover .dropdown-content {
  display: block;
  animation: shift 1.2s forwards; }

@keyframes shift {
  0% {
    transform: translateX(25px); }
  100% {
    opacity: 1;
    transform: translate(0px); } }
.up-arrow {
  width: 50px;
  height: 52px;
  left: 38rem;
  margin-top: -87px;
  position: absolute; }

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  width: 100%; }

.gallery-container {
  padding: 20px; }

.hunted {
  grid-column: span 2; }

.climb {
  grid-column: span 1; }

.gallery img {
  height: 100%;
  width: 100%;
  opacity: 0.8; }

.gallery img:hover {
  color: white;
  box-shadow: 7px 6px 7px black, -12px -5px 9px black;
  opacity: 1;
  transition: box-shadow 0.2s ease-out; }

.main-1 {
  display: grid;
  grid-gap: 32px;
  grid-template-columns: repeat(2, 1fr);
  font-family: 'Dosis', sans-serif;
  color: #161616;
  height: 100%;
  font-size: 1.2rem;
  padding-top: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.315);
  grid-template-areas: "title title" "hiking1 hiking2"; }

.title {
  grid-area: title;
  text-align: center;
  letter-spacing: 2px;
  font-family: 'Abril Fatface', cursive; }

.hiking1 {
  grid-area: hiking1;
  padding: 15px; }

.hiking2 {
  grid-area: hiking2;
  padding: 15px; }

.image1 {
  height: 20rem;
  width: 100%;
  background-size: 100% 100%;
  background: url(../images/devils-peak.jpg);
  background-size: 100% 100%; }

.image2 {
  height: 20rem;
  width: 100%;
  background-size: 100% 100%;
  background: url(../images/Lions-head.jpg);
  background-size: 100% 100%; }

.hiking1:hover .image1 {
  box-shadow: 10px 10px 20px black, -10px -3px 20px black;
  opacity: 1;
  transition: box-shadow 0.5s ease-out; }

.hiking2:hover .image2 {
  box-shadow: 10px 10px 20px black, -10px -3px 20px black;
  opacity: 1;
  transition: box-shadow 0.5s ease-out; }

.main-2 {
  display: grid;
  grid-gap: 32px;
  grid-template-columns: repeat(2, 1fr);
  font-family: 'Dosis', sans-serif;
  color: #161616;
  height: 100%;
  font-size: 1.2rem;
  padding-top: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.315);
  grid-template-areas: "title title" "camping1 camping2"; }

.title {
  grid-area: title;
  text-align: center; }

.camping1 {
  grid-area: camping1;
  padding: 15px; }

.camping2 {
  grid-area: camping2;
  padding: 15px; }

.image3 {
  height: 20rem;
  width: 100%;
  background-size: 100% 100%;
  background: url(../images/Tsitsikama.jpg);
  background-size: 100% 100%; }

.image4 {
  height: 20rem;
  width: 100%;
  background-size: 100% 100%;
  background: url(../images/khomees.jpg);
  background-size: 100% 100%; }

.camping1:hover .image3 {
  box-shadow: 10px 10px 20px black, -10px -3px 20px black;
  opacity: 1;
  transition: box-shadow 0.5s ease-out; }

.camping2:hover .image4 {
  box-shadow: 10px 10px 20px black, -10px -3px 20px black;
  opacity: 1;
  transition: box-shadow 0.5s ease-out; }

.main-3 {
  display: grid;
  grid-gap: 32px;
  grid-template-columns: repeat(2, 1fr);
  font-family: 'Dosis', sans-serif;
  color: #161616;
  height: 100%;
  font-size: 1.2rem;
  padding-top: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.315);
  grid-template-areas: "title title" "hunting1 hunting2"; }

.title {
  grid-area: title;
  text-align: center; }

.hunting1 {
  grid-area: hunting1;
  padding: 15px; }

.hunting2 {
  grid-area: hunting2;
  padding: 15px; }

.image5 {
  height: 20rem;
  width: 100%;
  background-size: 100% 100%;
  background: url(../images/rietfontein.jpg);
  background-size: 100% 100%; }

.image6 {
  height: 20rem;
  width: 100%;
  background-size: 100% 100%;
  background: url(../images/lazarus.jpg);
  background-size: 100% 100%; }

.hunting1:hover .image5 {
  box-shadow: 10px 10px 20px black, -10px -3px 20px black;
  opacity: 1;
  transition: box-shadow 0.5s ease-out; }

.hunting2:hover .image6 {
  box-shadow: 10px 10px 20px black, -10px -3px 20px black;
  opacity: 1;
  transition: box-shadow 0.5s ease-out; }

.main-4 {
  display: grid;
  grid-gap: 32px;
  grid-template-columns: repeat(2, 1fr);
  font-family: 'Dosis', sans-serif;
  color: #161616;
  height: 100%;
  font-size: 1.2rem;
  padding-top: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.315);
  grid-template-areas: "title title" "canoeing1 canoeing2"; }

.title {
  grid-area: title;
  text-align: center; }

.canoeing1 {
  grid-area: canoeing1;
  padding: 15px; }

.canoeing2 {
  grid-area: canoeing2;
  padding: 15px; }

.image7 {
  height: 20rem;
  width: 100%;
  background-size: 100% 100%;
  background: url(../images/palmiet.jpg);
  background-size: 100% 100%; }

.image8 {
  height: 20rem;
  width: 100%;
  background-size: 100% 100%;
  background: url(../images/Hout-bay.jpg);
  background-size: 100% 100%; }

.canoeing1:hover .image7 {
  box-shadow: 10px 10px 20px black, -10px -3px 20px black;
  opacity: 1;
  transition: box-shadow 0.5s ease-out; }

.canoeing2:hover .image8 {
  box-shadow: 10px 10px 20px black, -10px -3px 20px black;
  opacity: 1;
  transition: box-shadow 0.5s ease-out; }

.main-5 {
  display: grid;
  grid-gap: 32px;
  grid-template-columns: repeat(2, 1fr);
  font-family: 'Dosis', sans-serif;
  color: #161616;
  height: 100%;
  font-size: 1.2rem;
  padding-top: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.315);
  grid-template-areas: "title title" "climbing1 climbing2"; }

.title {
  grid-area: title;
  text-align: center; }

.climbing1 {
  grid-area: climbing1;
  padding: 15px; }

.climbing2 {
  grid-area: climbing2;
  padding: 15px; }

.image9 {
  height: 20rem;
  width: 100%;
  background-size: 100% 100%;
  background: url(../images/table-mountain.jpg);
  background-size: 100% 100%; }

.image10 {
  height: 20rem;
  width: 100%;
  background-size: 100% 100%;
  background: url(../images/gamkaberg.jpg);
  background-size: 100% 100%; }

.climbing1:hover .image9 {
  box-shadow: 10px 10px 20px black, -10px -3px 20px black;
  opacity: 1;
  transition: box-shadow 0.5s ease-out; }

.climbing2:hover .image10 {
  box-shadow: 10px 10px 20px black, -10px -3px 20px black;
  opacity: 1;
  transition: box-shadow 0.5s ease-out; }

.main-6 {
  display: grid;
  grid-gap: 32px;
  grid-template-columns: repeat(2, 1fr);
  font-family: 'Dosis', sans-serif;
  color: #161616;
  height: 100%;
  font-size: 1.2rem;
  padding-top: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.315);
  grid-template-areas: "title title" "fishing1 fishing2"; }

.title {
  grid-area: title;
  text-align: center; }

.fishing1 {
  grid-area: fishing1;
  padding: 15px; }

.fishing2 {
  grid-area: fishing2;
  padding: 15px; }

.image11 {
  height: 20rem;
  width: 100%;
  background-size: 100% 100%;
  background: url(../images/fishing\ La\ Lancha1.jpg);
  background-size: 100% 100%; }

.image12 {
  height: 20rem;
  width: 100%;
  background-size: 100% 100%;
  background: url(../images/fishing\ Stanfordhills.jpg);
  background-size: 100% 100%; }

.fishing1:hover .image11 {
  box-shadow: 10px 10px 20px black, -10px -3px 20px black;
  opacity: 1;
  transition: box-shadow 0.5s ease-out; }

.fishing2:hover .image12 {
  box-shadow: 10px 10px 20px black, -10px -3px 20px black;
  opacity: 1;
  transition: box-shadow 0.5s ease-out; }

/* Media Queries -------------------- */
/* Responsive Design */
/* Mobile Devices */
/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 1) {
  nav ul {
    display: grid; }

  nav a {
    padding: 0 0 20px 0;
    transition: none;
    font-size: 20px; }

  .dropdown:hover .dropdown-content {
    animation: none;
    left: 30.8vw; }

  .dropdown-content {
    display: none;
    background-color: black;
    width: 34vw; }

  .dropdown-content a {
    padding: 3px;
    font-size: 19px; }

  .heading {
    font-size: 34px; }

  .title {
    font-size: 28px;
    margin-top: -21px;
    margin-bottom: 12px; }

  h1.heading {
    margin-top: 0; }

  .heading-1 {
    font-size: 24px;
    margin-top: 81px; }

  .heading {
    font-size: 30px; }

  header {
    height: 30rem; }

  .main-1,
  .main-2,
  .main-3,
  .main-4,
  .main-5,
  .main-6 {
    grid-gap: 1px; }

  .image1,
  .image2,
  .image3,
  .image4,
  .image5,
  .image6,
  .image7,
  .image8,
  .image9,
  .image10,
  .image11,
  .image12 {
    width: 18rem;
    height: 16rem; }

  .paragraph2 {
    padding-right: 26px;
    margin-left: 19px;
    font-size: 0.9rem;
    margin-bottom: 56px; }

  .read-more {
    font-size: 12px; }

  .main-1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "title" "hiking1"  "hiking2"; }

  .hiking1 {
    grid-area: hiking1;
    grid-template-columns: span 2; }

  .hiking2 {
    grid-area: hiking2;
    grid-template-columns: span 2;
    margin-top: -60px; }

  .image1 {
    grid-area: hiking1;
    grid-template-columns: span 2;
    width: 100%; }

  .image2 {
    grid-area: hiking2;
    grid-template-columns: span 2;
    width: 100%; }

  .main-2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "title" "camping1"  "camping2"; }

  .camping1 {
    grid-area: camping1;
    grid-template-columns: span 2; }

  .camping2 {
    grid-area: camping2;
    grid-template-columns: span 2;
    margin-top: -60px; }

  .image3 {
    grid-area: camping1;
    grid-template-columns: span 2;
    width: 100%; }

  .image4 {
    grid-area: camping2;
    grid-template-columns: span 2;
    width: 100%; }

  .main-3 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "title" "hunting1"  "hunting2"; }

  .hunting1 {
    grid-area: hunting1;
    grid-template-columns: span 2; }

  .hunting2 {
    grid-area: hunting2;
    grid-template-columns: span 2;
    margin-top: -60px; }

  .image5 {
    grid-area: hunting1;
    grid-template-columns: span 2;
    width: 100%; }

  .image6 {
    grid-area: hunting2;
    grid-template-columns: span 2;
    width: 100%; }

  .hunted {
    grid-column: span 2;
    text-align: center; }

  .main-4 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "title" "canoeing1"  "canoeing2"; }

  .canoeing1 {
    grid-area: canoeing1;
    grid-template-columns: span 2; }

  .canoeing2 {
    grid-area: canoeing2;
    grid-template-columns: span 2;
    margin-top: -60px; }

  .image7 {
    grid-area: canoeing1;
    grid-template-columns: span 2;
    width: 100%; }

  .image8 {
    grid-area: canoeing2;
    grid-template-columns: span 2;
    width: 100%; }

  .main-5 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "title" "climbing1"  "climbing2"; }

  .climbing1 {
    grid-area: climbing1;
    grid-template-columns: span 2; }

  .climbing2 {
    grid-area: climbing2;
    grid-template-columns: span 2;
    margin-top: -60px;
    margin-top: -60px; }

  .image9 {
    grid-area: climbing1;
    grid-template-columns: span 2;
    width: 100%; }

  .image10 {
    grid-area: climbing2;
    grid-template-columns: span 2;
    width: 100%; }

  .main-6 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "title" "fishing1"  "fishing2"; }

  .fishing1 {
    grid-area: fishing1;
    grid-template-columns: span 2; }

  .fishing2 {
    grid-area: fishing2;
    grid-template-columns: span 2;
    margin-top: -60px; }

  .image11 {
    grid-area: fishing1;
    grid-template-columns: span 2;
    width: 100%; }

  .image12 {
    grid-area: fishing2;
    grid-template-columns: span 2;
    width: 100%; }

  .title {
    grid-template-columns: span 2; }

  .p-title {
    font-size: 1em; }

  .up-arrow {
    width: 26px;
    height: 26px;
    left: 18em;
    bottom: 1.5em; }

  .heading {
    color: #1b1616;
    text-align: center;
    font-size: 35px;
    text-shadow: 5px 5px 10px #00a8e2;
    font-family: 'Poiret One';
    animation: move 2s ease forwards;
    z-index: -500; }

  @keyframes move {
    from {
      padding-top: 20%;
      opacity: 0; }
    to {
      padding-top: 70%;
      opacity: 1; } }
  .contact-form {
    position: absolute;
    top: 15%;
    left: 0%;
    transform: translate(-50, -50%);
    width: 100%;
    padding: 40px; }

  .contact-details {
    text-align: center;
    width: 80vw; }

  .form {
    margin: 0;
    padding: 0;
    background: url(../images/form-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 130vh; }

  .gallery {
    display: block;
    text-align: center; }

  footer p {
    font-size: 16px; } }
/* Responsive Design */
/*Tablets*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (-webkit-min-device-pixel-ratio: 1) {
  .p-title {
    font-size: 1em; }

  .up-arrow {
    left: 23rem; }

  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 40, 1fr;
    grid-gap: 20px;
    grid-template-areas: "heading-1" "img img img"; }

  .form {
    height: 165vh; }

  .climb {
    grid-column: span 2; }

  .heading-1 {
    margin-top: 33px; }

  .heading {
    font-size: 40px; }

  footer p {
    margin-top: 0; }

  .contact-form {
    position: absolute;
    top: 5%;
    left: 40%;
    transform: translate(-50, -50%);
    width: 400px;
    padding: 40px;
    box-sizing: border-box;
    border-radius: 10px; } }
/* Responsive Design
   /*Desktop*/
@media screen and (min-device-width: 1024px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .up-arrow {
    left: 38rem; }

  .contact-form {
    top: 6%; } }

/*# sourceMappingURL=main.css.map */
