/* Mixins -------------------- */
/* Base Styles -------------------- */
html {
  scroll-behavior: smooth;
  transition: 0.20s;
  margin-top: 0;
  padding-top: 0; }

.container {
  width: 100%;
  height: 100%;
  overflow-x: hidden; }

body {
  margin: 0;
  padding: 0;
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.445); }

header {
  background-image: url(../images/beach-bench-boardwalk-462024.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh; }

.heading {
  color: #1b1616;
  text-align: center;
  font-size: 68px;
  text-shadow: 5px 5px 10px #ee5959;
  font-family: 'EB Garamond', serif;
  animation: move 2s ease forwards; }

@keyframes move {
  from {
    padding-top: 0%;
    opacity: 0; }
  to {
    padding-top: 14%;
    opacity: 1; } }
h1.heading {
  margin-top: 0; }

.arrow {
  width: 100px;
  height: 100px;
  padding-left: 619px;
  margin-top: 170px;
  position: absolute; }

nav {
  width: 100%; }

nav ul {
  list-style-type: none;
  background-color: rgba(0, 0, 0, 0.575);
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  margin-top: 0; }

nav li {
  float: left; }

nav a {
  text-decoration: none;
  font-size: 22px;
  text-align: center;
  display: block;
  padding: 11px 6px;
  padding-right: 45px;
  color: white;
  font-family: 'Jacques Francois', serif; }

nav a:hover {
  color: #f0c330;
  transition: 0.5s;
  text-shadow: 5px 10px 5px rgba(255, 196, 0, 0.404); }

.title {
  font-family: 'Abril Fatface', cursive;
  font-size: 40px;
  margin: 0;
  padding: 0; }

.p-title {
  color: #1b1616;
  font-family: 'EB Garamond', serif;
  font-size: 30px;
  text-align: center;
  font-weight: bold; }

.read-more {
  font-size: 15px;
  color: rgba(192, 67, 67, 0.801);
  font-weight: bold; }

footer p {
  background-color: rgba(44, 59, 192, 0.945);
  color: black;
  padding: 30px;
  font-weight: bolder;
  font-size: 20px;
  width: 100%; }

footer {
  position: relative; }

.up-arrow {
  width: 50px;
  height: 52px;
  padding-left: 640px;
  margin-top: -87px;
  position: absolute; }

.gallery-body {
  background-color: #e4cbac; }

.heading-1 {
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 30px;
  text-shadow: 5px 5px 10px red;
  font-weight: bold; }

.form {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(../images/form-bg.jpg);
  background-size: cover; }

.box {
  position: absolute;
  top: 20%;
  left: 40%;
  transform: translate(-50, -50%);
  width: 400px;
  background: rgba(0, 0, 0, 0.8);
  padding: 40px;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  border-radius: 10px; }

.box h2 {
  margin: 0;
  padding: 0;
  color: #fff;
  text-align: center; }

.box .inputBox {
  position: relative; }

.box .inputBox input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent; }

.box .inputBox label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s; }

.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label {
  top: -18px;
  left: 0;
  color: #03a9f4;
  font-size: 12px; }

.box input[type="submit"] {
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  background: #03a9f4;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  width: 100px; }

.box input:hover[type="submit"] {
  background-color: #006797; }

.dropdown {
  display: inline-block;
  top: 0; }

.dropdown-content {
  display: none;
  box-shadow: 2px 2px 5px black;
  min-width: 118px;
  z-index: 1;
  margin-top: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.575); }

.dropdown-content a {
  color: white;
  padding: 15px;
  text-decoration: none;
  display: block; }

.dropdown-content a:hover {
  background-color: white;
  color: black; }

.dropdown:hover .dropdown-content {
  display: block;
  animation: load 1.2s forwards; }

@keyframes load {
  0% {
    transform: translateX(25px); }
  100% {
    opacity: 1;
    transform: translate(0px); } }
/* Media Queries -------------------- */
.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 300px);
  grid-gap: 25px; }

.gallery-container {
  padding: 20px; }

.campie {
  grid-column: span 2; }

.canoe {
  grid-column: span 2; }

.fishie {
  grid-column: span 2; }

.gallery img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  box-shadow: 10px 10px 20px black, -10px -3px 20px black;
  opacity: 0.8;
  transition: box-shadow 0.5s ease-out; }

.gallery img:hover {
  color: white;
  box-shadow: 20px 20px 40px black, -20px -5px 40px black;
  opacity: 1;
  transition: box-shadow 0.5s ease-out; }

.main-1 {
  display: grid;
  grid-gap: 32px;
  grid-template-columns: repeat(2, 1fr);
  font-family: 'Dosis', sans-serif;
  color: #161616;
  height: 100%;
  font-size: 1.2rem;
  padding-top: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.315);
  grid-template-areas: "title title" "hiking1 hiking2"; }

.title {
  grid-area: title;
  text-align: center; }

.hiking1 {
  grid-area: hiking1;
  padding: 15px; }

.hiking2 {
  grid-area: hiking2;
  padding: 15px; }

.image1 {
  height: 20rem;
  width: 100%;
  background-size: 100% 100%;
  background: url(../images/devils-peak.jpg);
  background-size: 100% 100%; }

.image2 {
  height: 20rem;
  width: 100%;
  background-size: 100% 100%;
  background: url(../images/Lions-head.jpg);
  background-size: 100% 100%; }

.hiking1:hover .image1 {
  box-shadow: 10px 10px 20px black, -10px -3px 20px black;
  opacity: 1;
  transition: box-shadow 0.5s ease-out; }

.hiking2:hover .image2 {
  box-shadow: 10px 10px 20px black, -10px -3px 20px black;
  opacity: 1;
  transition: box-shadow 0.5s ease-out; }

.main-2 {
  display: grid;
  grid-gap: 32px;
  grid-template-columns: repeat(2, 1fr);
  font-family: 'Dosis', sans-serif;
  color: #161616;
  height: 100%;
  font-size: 1.2rem;
  padding-top: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.315);
  grid-template-areas: "title title" "camping1 camping2"; }

.title {
  grid-area: title;
  text-align: center; }

.camping1 {
  grid-area: camping1;
  padding: 15px; }

.camping2 {
  grid-area: camping2;
  padding: 15px; }

.image3 {
  height: 20rem;
  width: 100%;
  background-size: 100% 100%;
  background: url(../images/Tsitsikama.jpg);
  background-size: 100% 100%; }

.image4 {
  height: 20rem;
  width: 100%;
  background-size: 100% 100%;
  background: url(../images/khomees.jpg);
  background-size: 100% 100%; }

.camping1:hover .image3 {
  box-shadow: 10px 10px 20px black,  -10px -3px 20px black;
  opacity: 1;
  transition: box-shadow 0.5s ease-out; }

.camping2:hover .image4 {
  box-shadow: 10px 10px 20px black, -10px -3px 20px black;
  opacity: 1;
  transition: box-shadow 0.5s ease-out; }

.main-3 {
  display: grid;
  grid-gap: 32px;
  grid-template-columns: repeat(2, 1fr);
  font-family: 'Dosis', sans-serif;
  color: #161616;
  height: 100%;
  font-size: 1.2rem;
  padding-top: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.315);
  grid-template-areas: "title title" "hunting1 hunting2"; }

.title {
  grid-area: title;
  text-align: center; }

.hunting1 {
  grid-area: hunting1;
  padding: 15px; }

.hunting2 {
  grid-area: hunting2;
  padding: 15px; }

.image5 {
  height: 20rem;
  width: 100%;
  background-size: 100% 100%;
  background: url(../images/rietfontein.jpg);
  background-size: 100% 100%; }

.image6 {
  height: 20rem;
  width: 100%;
  background-size: 100% 100%;
  background: url(../images/lazarus.jpg);
  background-size: 100% 100%; }

.hunting1:hover .image5 {
  box-shadow: 10px 10px 20px black, -10px -3px 20px black;
  opacity: 1;
  transition: box-shadow 0.5s ease-out; }

.hunting2:hover .image6 {
  box-shadow: 10px 10px 20px black, -10px -3px 20px black;
  opacity: 1;
  transition: box-shadow 0.5s ease-out; }

.main-4 {
  display: grid;
  grid-gap: 32px;
  grid-template-columns: repeat(2, 1fr);
  font-family: 'Dosis', sans-serif;
  color: #161616;
  height: 100%;
  font-size: 1.2rem;
  padding-top: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.315);
  grid-template-areas: "title title" "canoeing1 canoeing2"; }

.title {
  grid-area: title;
  text-align: center; }

.canoeing1 {
  grid-area: canoeing1;
  padding: 15px; }

.canoeing2 {
  grid-area: canoeing2;
  padding: 15px; }

.image7 {
  height: 20rem;
  width: 100%;
  background-size: 100% 100%;
  background: url(../images/palmiet.jpg);
  background-size: 100% 100%; }

.image8 {
  height: 20rem;
  width: 100%;
  background-size: 100% 100%;
  background: url(../images/Hout-bay.jpg);
  background-size: 100% 100%; }

.canoeing1:hover .image7 {
  box-shadow: 10px 10px 20px black, -10px -3px 20px black;
  opacity: 1;
  transition: box-shadow 0.5s ease-out; }

.canoeing2:hover .image8 {
  box-shadow: 10px 10px 20px black, -10px -3px 20px black;
  opacity: 1;
  transition: box-shadow 0.5s ease-out; }

.main-5 {
  display: grid;
  grid-gap: 32px;
  grid-template-columns: repeat(2, 1fr);
  font-family: 'Dosis', sans-serif;
  color: #161616;
  height: 100%;
  font-size: 1.2rem;
  padding-top: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.315);
  grid-template-areas: "title title" "climbing1 climbing2"; }

.title {
  grid-area: title;
  text-align: center; }

.climbing1 {
  grid-area: climbing1;
  padding: 15px; }

.climbing2 {
  grid-area: climbing2;
  padding: 15px; }

.image9 {
  height: 20rem;
  width: 100%;
  background-size: 100% 100%;
  background: url(../images/table-mountain.jpg);
  background-size: 100% 100%; }

.image10 {
  height: 20rem;
  width: 100%;
  background-size: 100% 100%;
  background: url(../images/gamkaberg.jpg);
  background-size: 100% 100%; }

.climbing1:hover .image9 {
  box-shadow: 10px 10px 20px black, -10px -3px 20px black;
  opacity: 1;
  transition: box-shadow 0.5s ease-out; }

.climbing2:hover .image10 {
  box-shadow: 10px 10px 20px black, -10px -3px 20px black;
  opacity: 1;
  transition: box-shadow 0.5s ease-out; }

.main-6 {
  display: grid;
  grid-gap: 32px;
  grid-template-columns: repeat(2, 1fr);
  font-family: 'Dosis', sans-serif;
  color: #161616;
  height: 100%;
  font-size: 1.2rem;
  padding-top: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.315);
  grid-template-areas: "title title" "fishing1 fishing2"; }

.title {
  grid-area: title;
  text-align: center; }

.fishing1 {
  grid-area: fishing1;
  padding: 15px; }

.fishing2 {
  grid-area: fishing2;
  padding: 15px; }

.image11 {
  height: 20rem;
  width: 100%;
  background-size: 100% 100%;
  background: url(../images/fishing\ La\ Lancha1.jpg);
  background-size: 100% 100%; }

.image12 {
  height: 20rem;
  width: 100%;
  background-size: 100% 100%;
  background: url(../images/fishing\ Stanfordhills.jpg);
  background-size: 100% 100%; }

.fishing1:hover .image11 {
  box-shadow: 10px 10px 20px black, -10px -3px 20px black;
  opacity: 1;
  transition: box-shadow 0.5s ease-out; }

.fishing2:hover .image12 {
  box-shadow: 10px 10px 20px black, -10px -3px 20px black;
  opacity: 1;
  transition: box-shadow 0.5s ease-out; }

/*# sourceMappingURL=main.css.map */
