// container of everything
.container {
    width: 100%;
    height: 100%;
    overflow-x: hidden;    
}

// styling properties of the h1 heading
.heading {
    color: $primary-color;
    text-align: center;
    font-size: 68px;
    text-shadow: $text-shadow;
    font-family: 'Poiret One';
    animation: move 2s ease forwards;
}

// animation for heading
@keyframes move {
    from {
        padding-top: 0%;
        opacity: 0;
    }
    to {
        padding-top: 14%;
        opacity: 1;
    }
}

//  Properties & values of the heading of the activities
.title {
    font-size: 40px;
    margin: 0;
    padding: 0;
    
}

// Properties & values of activities
.p-title {
    color: $primary-color;
    font-family: 'EB Garamond', serif;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

// paragraphs properties
.paragraph2 {
    padding-right: 0px;
    padding-right: 66px;
    margin-left: 40px;
    font-size: 17px;

}

// a links to website
.read-more {
    font-size: 15px;
    color: rgba(192, 67, 67, 0.801);
    font-weight: bold;
}

// html gallery styling properties
.gallery-body {
    background-color: $bgcolor;
}

// heading of the masonry type gallery
.heading-1 {
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 30px;
    font-weight: bold;
    color: rgba(106, 121, 127, 0.8);
}

// start of the contact form
// properties & values of the form
.form {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(../images/form-bg.jpg);
    background-size: 100% 100%;
    height: 100vh;
    
}

.contact-form {
    position: absolute;
    top: 1%;
    left: 40%;
    transform: translate(-50,-50%);
    width: 400px;
    padding: 40px;
    box-sizing: border-box;
    border-radius: 10px;
}

// heading of the form
.contact-form h2 {
   margin: 0;
   padding: 0;
   color: #fff;
   text-align: center;
}

.contact-form .input-field {
   position: relative;

}

.contact-form .input-field input  {
   width: 100%;
   padding: 10px 0;
   font-size: 16px;
   color: #fff;
   margin-bottom: 30px;
   border: none;
   border-bottom: 1px solid #fff;
   outline: none;
   background: transparent;
   
}

// message box
.contact-form .input-field textarea[name="message"] {
    width: 100%;
    border: 1px solid rgb(245, 245, 245);
    background-color: transparent;
}

.contact-form .input-field textarea[placeholder="Write a message..." ] {
    padding: 5px;
    color: white;
}

.contact-form .input-field label[ for="message"] {
    top: -35%;
}
// end of the message box

// dropdown of activities
.contact-form .input-field select[name="activity" ] {
    width: 100%;
    outline: none;
    float: left;
    color: rgb(255, 255, 255);
    padding: 0px 0;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
}

.contact-form .input-field option {
    color: rgb(0, 0, 0);
}




// heading of the dropdown activities
.contact-form .input-field label[ value="choose"]{
    top: -2rem;
}
// end of dropdown of activities

.contact-form .input-field  {
    width: 100%;
    
}

.contact-form .input-field label {
   position: absolute;
   top: 0;
   left: 0;
   padding: 10px 0;
   font-size: 16px;
   color: #fff;
   pointer-events: none;
   transition: .5s;
}

.contact-form .input-field input:focus ~ label,
.contact-form .input-field input:valid ~ label  {
   top: -18px;
   left: 0;
   color: #ffffff;
   font-size: 12px;
}



.contact-form input[type="submit"] {
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background: #0000004d;
    padding: 10px 20px;
    cursor: pointer;
    width: auto;
}

.contact-form input:hover[type="submit"] {
    background-color: rgba(0, 0, 0, 0.842);
    border-color: #fff;
    border: 1px solid white;
}

// end of the contact form



