/* Media Queries -------------------- */


// How to Use CSS to Resize Your (Foreground) Images While Preserving Their Aspect Ratio
// The simplest and most painless way to quickly get all your existing foreground pictures to fit a mobile screen is to resize them with CSS. This can easily be done with the following rules.


/* Responsive Design */

    /* Mobile Devices */
/* Portrait and Landscape */
@media (max-width: 426px) {

// Hiking
   .main-1 {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-areas:
               "title" 
               "hiking1" 
              "hiking2";
   }

   .hiking1 {
      grid-area: hiking1;
      grid-template-columns: span 2;
   }

   .hiking2 {
      grid-area: hiking2;
      grid-template-columns: span 2;
   }

   .image1 {
      grid-area: hiking1;
      grid-template-columns: span 2;

   }

   .image2 {
      grid-area: hiking2;
      grid-template-columns: span 2;
   }
// end of hiking


// Camping
   .main-2 {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-areas:
               "title" 
               "camping1" 
              "camping2";
   }

   .camping1 {
      grid-area: camping1;
      grid-template-columns: span 2;
   }

   .camping2 {
      grid-area: camping2;
      grid-template-columns: span 2;
   }

   .image3 {
      grid-area: camping1;
      grid-template-columns: span 2;

   }

   .image4 {
      grid-area: camping2;
      grid-template-columns: span 2;
   }

// end of camping


// Hunting
   .main-3 {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-areas:
               "title" 
               "hunting1" 
              "hunting2";
   }

   .hunting1 {
      grid-area: hunting1;
      grid-template-columns: span 2;
   }

   .hunting2 {
      grid-area: hunting2;
      grid-template-columns: span 2;
   }

   .image5 {
      grid-area: hunting1;
      grid-template-columns: span 2;

   }

   .image6 {
      grid-area: hunting2;
      grid-template-columns: span 2;
   }
// end of hunting

// Canoeing
   .main-4 {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-areas:
               "title" 
               "canoeing1" 
              "canoeing2";
   }

   .canoeing1 {
      grid-area: canoeing1;
      grid-template-columns: span 2;
   }

   .canoeing2 {
      grid-area: canoeing2;
      grid-template-columns: span 2;
   }

   .image7 {
      grid-area: canoeing1;
      grid-template-columns: span 2;

   }

   .image8 {
      grid-area: canoeing2;
      grid-template-columns: span 2;
   }
// end of canoeing

// Climbing
.main-5 {
   display: grid;
   grid-template-columns: repeat(1, 1fr);
   grid-template-areas:
            "title" 
            "climbing1" 
           "climbing2";
}

.climbing1 {
   grid-area: climbing1;
   grid-template-columns: span 2;
}

.climbing2 {
   grid-area: climbing2;
   grid-template-columns: span 2;
}

.image9 {
   grid-area: climbing1;
   grid-template-columns: span 2;

}

.image10 {
   grid-area: climbing2;
   grid-template-columns: span 2;
}
// end of climbing

// Fishing
.main-6 {
   display: grid;
   grid-template-columns: repeat(1, 1fr);
   grid-template-areas:
            "title" 
            "fishing1" 
           "fishing2";
}

.fishing1 {
   grid-area: fishing1;
   grid-template-columns: span 2;
}

.fishing2 {
   grid-area: fishing2;
   grid-template-columns: span 2;
}

.image11 {
   grid-area: fishing1;
   grid-template-columns: span 2;

}

.image12 {
   grid-area: fishing2;
   grid-template-columns: span 2;
}
// end of fishing


.title {
   grid-template-columns: span 2;
}
.p-title {
   font-size: 1em;
}

.up-arrow {
   left: 14rem;
}

// Contact form

.box {
   position: absolute;
   top: 1%;
   left: 1%;
   transform: translate(-50,-50%);
   width: 320px;
   padding: 40px;
}

.form {
margin: 0;
padding: 0;
background: url(../images/form-bg.jpg);
background-size: auto;
background-repeat: no-repeat;
}


  }

  /* Responsive Design */
    /*Tablets*/
@media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (-webkit-min-device-pixel-ratio: 1) {
      .p-title {
         font-size: 1em;
      }

      .up-arrow {
         left: 23rem;
      }

      
 }

 /* Responsive Design
    /*Desktop*/
 @media screen 
    and (min-device-width: 1200px) 
    and (max-device-width: 1600px) 
    and (-webkit-min-device-pixel-ratio: 1) { 

      .up-arrow {
         left: 38rem;;
         
      }
 }