/* Media Queries -------------------- */


// How to Use CSS to Resize Your (Foreground) Images While Preserving Their Aspect Ratio
// The simplest and most painless way to quickly get all your existing foreground pictures to fit a mobile screen is to resize them with CSS. This can easily be done with the following rules.


/* Responsive Design */

    /* Mobile Devices */
/* Portrait and Landscape */
@media only screen 
    and (min-device-width: 320px) 
    and (max-device-width: 767px) 
    and (-webkit-min-device-pixel-ratio: 1){


      // navbar unordered list styling
   nav ul {
      display: grid;
   }

   nav a {
      padding: 0 0 20px 0;
      transition: none;
      font-size: 20px;
   }

   
.dropdown:hover .dropdown-content {
   animation: none;
   // left: 30vw;
   left: 30.3vw;
  
}

.dropdown-content {
   display: none;
   background-color: rgb(0, 0, 0);
   width: 34vw;
}

// styling the a tags
.dropdown-content a {
   padding: 3px;
   font-size: 19px;
}

.heading {
   font-size: 34px;
}

.title {
   font-size: 28px;
   margin-top: -21px;
   margin-bottom: 12px;
   

}

h1.heading {
   margin-top: 0;
}

header {
   height: 30rem;
}


.main-1,
.main-2,
.main-3,
.main-4,
.main-5,
.main-6 {
   grid-gap: 1px;
}

// all images
.image1,
.image2,
.image3,
.image4,
.image5,
.image6,
.image7,
.image8,
.image9,
.image10,
.image11,
.image12 {
   width: 18rem;
   height: 16rem;
}

.paragraph2 {
   padding-right: 26px;
   margin-left: 19px;
   font-size: 0.9rem;
   margin-bottom: 56px;
}

.read-more {
   font-size: 12px;
}

// Hiking
   .main-1 {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-areas:
               "title" 
               "hiking1" 
              "hiking2";
   }

   .hiking1 {
      grid-area: hiking1;
      grid-template-columns: span 2;
   }

   .hiking2 {
      grid-area: hiking2;
      grid-template-columns: span 2;
      margin-top: -60px;
   }

   .image1 {
      grid-area: hiking1;
      grid-template-columns: span 2;
      width: 100%;

   }

   .image2 {
      grid-area: hiking2;
      grid-template-columns: span 2;
      width: 100%;
   }
// end of hiking


// Camping
   .main-2 {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-areas:
               "title" 
               "camping1" 
               "camping2";
   }

   .camping1 {
      grid-area: camping1;
      grid-template-columns: span 2;
   }

   .camping2 {
      grid-area: camping2;
      grid-template-columns: span 2;
      margin-top: -60px;
   }

   .image3 {
      grid-area: camping1;
      grid-template-columns: span 2;
      width: 100%;

   }

   .image4 {
      grid-area: camping2;
      grid-template-columns: span 2;
      width: 100%;
   }

// end of camping


// Hunting
   .main-3 {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-areas:
               "title" 
               "hunting1" 
              "hunting2";
   }

   .hunting1 {
      grid-area: hunting1;
      grid-template-columns: span 2;
   }

   .hunting2 {
      grid-area: hunting2;
      grid-template-columns: span 2;
      margin-top: -60px;
   }

   .image5 {
      grid-area: hunting1;
      grid-template-columns: span 2;
      width: 100%;
   }

   .image6 {
      grid-area: hunting2;
      grid-template-columns: span 2;
      width: 100%;
   }
// end of hunting

// Canoeing
   .main-4 {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-areas:
               "title" 
               "canoeing1" 
              "canoeing2";
   }

   .canoeing1 {
      grid-area: canoeing1;
      grid-template-columns: span 2;
   }

   .canoeing2 {
      grid-area: canoeing2;
      grid-template-columns: span 2;
      margin-top: -60px;
   }

   .image7 {
      grid-area: canoeing1;
      grid-template-columns: span 2;
      width: 100%;

   }

   .image8 {
      grid-area: canoeing2;
      grid-template-columns: span 2;
      width: 100%;
   }
// end of canoeing

// Climbing
.main-5 {
   display: grid;
   grid-template-columns: repeat(1, 1fr);
   grid-template-areas:
            "title" 
            "climbing1" 
           "climbing2";
}

.climbing1 {
   grid-area: climbing1;
   grid-template-columns: span 2;
}

.climbing2 {
   grid-area: climbing2;
   grid-template-columns: span 2;
   margin-top: -60px;
   margin-top: -60px;
}

.image9 {
   grid-area: climbing1;
   grid-template-columns: span 2;
   width: 100%;

}

.image10 {
   grid-area: climbing2;
   grid-template-columns: span 2;
   width: 100%;
}
// end of climbing

// Fishing
.main-6 {
   display: grid;
   grid-template-columns: repeat(1, 1fr);
   grid-template-areas:
            "title" 
            "fishing1" 
           "fishing2";
}

.fishing1 {
   grid-area: fishing1;
   grid-template-columns: span 2;
}

.fishing2 {
   grid-area: fishing2;
   grid-template-columns: span 2;
   margin-top: -60px;
}

.image11 {
   grid-area: fishing1;
   grid-template-columns: span 2;
   width: 100%;

}

.image12 {
   grid-area: fishing2;
   grid-template-columns: span 2;
   width: 100%;
}
// end of fishing


.title {
   grid-template-columns: span 2;
}
.p-title {
   font-size: 1em;
}

//  arrow up properties & values
.up-arrow {
   width: 26px;
   height: 26px;
   left: 18em;
   bottom: 1.5em;
}

// Contact form

.contact-form {
   position: absolute;
   top: 15%;
   left: 0%;
   transform: translate(-50,-50%);
   width: 320px;
   padding: 40px;
}

// centering the details
.contact-details {
   text-align: center;
   width: 80vw;
}

.form {
margin: 0;
padding: 0;
background: url(../images/form-bg.jpg);
background-size: cover;
background-repeat: no-repeat;
height: 165vh;
}

// masonry type gallery
.gallery {
   display: grid;
   grid-template-columns:repeat(2, 1fr);
   grid-template-rows: (40 ,1fr);
   grid-gap: 20px;
   grid-template-areas: 
            "heading-1"
            "img img"
}

footer p {
   font-size: 16px;
}

}

  /* Responsive Design */
    /*Tablets*/
@media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1023px) 
    and (-webkit-min-device-pixel-ratio: 1) {
      .p-title {
         font-size: 1em;
      }

      .up-arrow {
         left: 23rem;
      }

// masonry type gallery
.gallery {
   display: grid;
   grid-template-columns:repeat(4, 1fr);
   grid-template-rows: (40 ,1fr);
   grid-gap: 20px;
   grid-template-areas: 
            "heading-1"
            "img img img img"
}

.form {
   height: 165vh;
}

      
 }

 /* Responsive Design
    /*Desktop*/
 @media screen 
    and (min-device-width: 1024px) 
    and (max-device-width: 1600px) 
    and (-webkit-min-device-pixel-ratio: 1) { 

      .up-arrow {
         left: 38rem;;
         
      }
 }