// Descriptive color variables

$primary-color: rgb(27, 22, 22);
$secondary-color:rgba(192, 67, 67, 0.801);
$bgcolor:rgba(128, 128, 128, 0.26);
// text colors

$headings:rgb(27, 22, 22);
$ullinks: rgba(0, 0, 0, 0.575);
$text-shadow: 5px 5px 10px #00a8e2;
$hovercolor:#f0c330;
